.courses {
   padding-left: 198px;
}

.courses__chapter {
   font-size: 14px;
   line-height: 24px;
   color: $three;
   margin-bottom: 10px;
}

.courses__title {
   font-size: 40px;
   line-height: 50px;
   color: $first;
   margin-bottom: 10px;
}

.courses__problems {
   font-size: 14px;
   line-height: 20px;
   margin-bottom: 112px;
}
.courses__list{
   display: flex;
   gap: 25px;
   margin-bottom: 390px;
}
.courses__item{
   position: relative;
}

.courses__buttons-container {
   margin-bottom: 25px;
}

.courses__sale {
   font-size: 14px;
   line-height: 24px;
   color: $white;
   position: absolute;
   background-color: $sale;
   top: 20px;
   left: 20px;
   padding-left: 10px;
   padding-right: 10px;
}

.courses__button-image {
   position: absolute;
   width: 40px;
   height: 40px;
}
.courses__button-image--like{
   top: 236px;
   left: 47px;
}
.courses__button-image--cart{
   top: 236px;
   left: 97px;
}
.courses__button-image--eye{
   top: 236px;
   left: 147px;
}
.courses__button-image--like::after {
   content: url(/src/images/icons/courses/courses-like.svg);
}

.courses__button-image--cart::after {
   content: url(/src/images/icons/courses/courses-cart.svg);
}

.courses__button-image--eye::after {
   content: url(/src/images/icons/courses/courses-eye.svg);
}

.courses__container {
   width: 242px;
   padding-left: 25px;
}

.courses__rating {
   font-size: 14px;
   line-height: 24px;
   color: $three;
   margin-bottom: 12px;
   position: relative;
}

.courses__rating::after {
   content: url(/src/images/icons/courses/courses-rating.svg);
   right: 30px;
   position: absolute;
}

.courses__headline {
   font-size: 16px;
   line-height: 24px;
   margin-bottom: 10px;
}

.courses__description {
   margin-bottom: 10px;
}

.courses__quantity-sales::before {
   content: url(/src/images/icons/courses/courses-quantity.svg);
   margin-right: 15px;
}

.courses__quantity-sales {
   font-size: 14px;
   line-height: 24px;
   margin-bottom: 17px;
}

.courses__prices {
   display: flex;
   margin-bottom: 10px;
   font-size: 16px;
   line-height: 24px;
   align-items: center;
   gap: 5px;
}

.courses__new-price {
   color: #FFAB71;
}

.courses__button {
   color: $three;
   position: relative;
   font-size: 14px;
   line-height: 24px;
   border: 1px solid $three;
   border-radius: 37px;
   padding: 10px 35px 10px 20px;
}
.courses__button::after{
   position: absolute;
   content: url(/src/images/icons/package/package-array.svg);
   top: 15px;
   right: 15px;
}