.footer__container {
   display: flex;
   padding-top: 50px;
   padding-left: 195px;
   gap: 60px;
   margin-bottom: 40px;
}

.footer__headline {
   font-size: 16px;
   line-height: 24px;
   color: $first;
   margin-bottom: 20px;
}

.footer__item {
   font-size: 14px;
   line-height: 24px;
   margin-bottom: 10px;
}

.contacts__item {
   font-size: 14px;
   line-height: 24px;
   margin-bottom: 10px;
}
.contacts__item--phone{
   position: relative;
   padding-left: 165px;
}

.contacts__item--phone::before{
   content:url(/src/images/icons/footer/contacts-phone.svg);
   position: absolute;
   left: 135px;
}

.contacts__item--addres{
   position: relative;
   padding-left: 34px;
}
.contacts__item--addres::before{
   content:url(/src/images/icons/footer/contacts-geo.svg);
   position: absolute;
   left: 5px;
}
.contacts__item--mail{
   position: relative;
   padding-left: 127px;
}
.contacts__item--mail::before{
   content:url(/src/images/icons/footer/contacts-mail.svg);
   position: absolute;
   left: 95px;
}
.footer__copyright-and-social{
   background: #FAFAFA;
   display: flex;
   justify-content: space-between;
   padding-top: 25px;
   padding-bottom: 25px;
   padding-left: 195px;
   padding-right: 250px;
}
.footer__copyright{
   font-size: 14px;
line-height: 24px;
}

.footer__facebook::before{
   content:url(/src/images/icons/footer/social-facebook.svg);
   margin-right: 20px;
}
.footer__instagram::before{
   content:url(/src/images/icons/footer/social-instagram.svg);
   margin-right: 20px;
}
.footer__twitter::before{
   content:url(/src/images/icons/footer/social-twitter.svg);
}