.header {
   background-image:
      url(/src/images/icons/header/blue-vector.svg),
      url(/src/images/pictures/header/student.svg),
      url(/src/images/icons/header/light-grey-vector.svg),
      url(/src/images/icons/header/line-vector.svg),
      url(/src/images/icons/header/beige-vector.svg),
      url(/src/images/icons/header/orange-vector.svg),
      url(/src/images/icons/header/grey-vector.svg),
      url(/src/images/pictures/header/light-blue.png),
      url(/src/images/pictures/header/olive.svg);
   background-repeat: no-repeat;
   background-position:
      top 435px right 180px,
      top 82px right 95px,
      top 630px right 150px,
      top 220px right 180px,
      top 150px right 270px,
      top 270px right 480px,
      top 205px right 150px,
      top right 10px,
      top 105px left;
}