.header {
   background-image:
      url(/src/images/icons/header/blue-vector.svg),
      url(/src/images/pictures/header/student.svg),
      url(/src/images/icons/header/light-grey-vector.svg),
      url(/src/images/icons/header/line-vector.svg),
      url(/src/images/icons/header/beige-vector.svg),
      url(/src/images/icons/header/orange-vector.svg),
      url(/src/images/icons/header/grey-vector.svg),
      url(/src/images/pictures/header/light-blue.png),
      url(/src/images/pictures/header/olive.svg);
   background-repeat: no-repeat;
   background-position:
      top 435px right 180px,
      top 82px right 95px,
      top 630px right 150px,
      top 220px right 180px,
      top 150px right 270px,
      top 270px right 480px,
      top 205px right 150px,
      top right 10px,
      top 105px left;
}

.nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 30px 278px 40px 195px;
}

.nav__container {
   display: flex;
   align-items: center;
}

.nav__logo {
   font-size: 23px;
   line-height: 32px;
   margin-right: 84px;
}

.nav__list {
   align-items: center;
   display: flex;
   gap: 20px;
}

.nav__item {
   font-size: 14px;
   line-height: 24px;
}

.nav__button {
   width: 137px;
   font-size: 14px;
   line-height: 22px;
   padding: 15px 0 15px 10px;
}

.nav__button::after {
   content: url(/src/images/icons/header/array.svg);
   padding: 21px 10px 21px 15px;
}

.about-use {
   padding-left: 155px;
   max-width: 650px;
}

.about-use__training {
   font-size: 16px;
   line-height: 24px;
   color: $three;
   margin-bottom: 33px;
}

.about-use__students {
   font-size: 57px;
   line-height: 80px;
   color: $first;
   margin-bottom: 35px;
}

.about-use__target {
   font-family: "Montserrat-regular", sans-serif;
   font-size: 20px;
   line-height: 30px;
   width: 450px;
   margin-bottom: 35px;
}

.about-use__buttons {
   margin-bottom: 80px;
}

.about-use__button {
   font-size: 14px;
   line-height: 22px;
   padding: 14px 39px;
   border: 1px solid $three;
   border-radius: 5px;
}

.about-use__button:first-child {
   margin-right: 5px;
}

.about-use__button:last-child {
   color: $three;
}

.achievements {
   padding-left: 155px;
}

.achievements__list {
   display: flex;
   gap: 30px;
   margin-bottom: 330px;
}

.achievements__item {
   font-size: 14px;
   line-height: 20px;
   width: 328px;
   background-color: $white;
   padding: 35px 0 35px 40px;
   box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.achievements__image {
   margin-bottom: 20px;
}

.achievements__headline {
   font-size: 24px;
   line-height: 32px;
   color: $first;
   margin-bottom: 20px;
}

.achievements__line {
   border: 2px solid $line;
   ;
   width: 50px;
   margin-bottom: 20px;
}