.packages {
   margin-bottom: 265px;
}

.packages__container {
   width: 507px;
}

.packages__line {
   border: 5px solid $line;
   width: 94px;
   margin-bottom: 35px;
}

.packages__headline {
   font-size: 40px;
   line-height: 50px;
   color: $first;
   margin-bottom: 35px;
}

.packages__description {
   font-size: 14px;
   line-height: 20px;
   margin-bottom: 35px;
   width: 351px;
}

.packages__button {
   font-size: 14px;
   line-height: 24px;
   color: $three;
   position: relative;
}

.packages__button::after {
   position: absolute;
   content: url(/src/images/icons/package/package-array.svg);
   padding-left: 10px;
   padding-top: 4px;
}

.packages__item-end {
   margin-bottom: 328px;
   display: flex;
   justify-content: right;
   padding: 65px 72px 89px 195px;
   background-image:
      url(/src/images/pictures/packages/statistic.svg),
      url(/src/images/pictures/packages/singles.svg),
      url(/src/images/pictures/packages/latest.svg),
      url(/src/images/pictures/packages/girl.svg),
      url(/src/images/pictures/packages/background-girl.png);
   background-repeat: no-repeat;
   background-position:
      top 146px left 587px,
      top 129px left 222px,
      bottom 31px left 252px,
      bottom 23px left 285px,
      top 19px left 295px;
}

.packages__item-start {
   display: flex;
   justify-content: left;
   padding: 59px 0 59px 195px;
   background-image:
      url(/src/images/pictures/packages/video-button.svg),
      url(/src/images/pictures/packages/video.png);
   background-repeat: no-repeat;
   background-position:
      top 139px right 404px,
      top 3px left 733px;
}